body{
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: auto;
}

#img-cabecalho{
    width: 100%;
    height: 270px;
}

#img-cabecalho img{
    width: 100%;
    height: 100%;
}

#qntd {
    width: 45px;
    height: 35px;
    border: none;
    text-align: center;
}

.titles-page{
    font-family: 'Shadows Into Light', cursive;
}

.sub-titles-page{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.nav-menu-title:hover{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
}