a {
    text-decoration: none;
    color: black;
}

#img-cabecalho{
    width: 100%;
    height: 270px;
}

#img-cabecalho img{
    width: 100%;
    height: 100%;
}

#qntd {
    width: 45px;
    height: 35px;
    border: none;
    text-align: center;
}